<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Exercise tracker</h1>
        <div class="add_create">        
          <form action="/api/exercise/new-user" method="post">
            <h3>Create a New User</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="username">
            <br>
            <button id="submit-user" type="submit">Submit New User</button>
          </form>
          <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" minlength="4" maxlength="20" placeholder="user id*" required>
            <input id="desc" type="text" name="description" maxlength="50" placeholder="description*" required>
            <input id="dur" type="text" name="duration" maxlength="9" placeholder="duration* (minutes)" required>
            <label for="dat">Enter date exercise completed</label>
            <input id="dat" type="date" name="date" placeholder="add">
            <br>
            <button id="submit-exercise" type="submit">Submit Exercise</button>
            <p><strong>* = required</strong></p>
          </form>
        </div>
          <p class="bold">Check database</p>
      
          <form action="/api/exercise/log" method="get">   
            <p><code>GET /api/exercise/log</code></p>
            <input name="userid" type="text" maxlength="9" placeholder="user id (9 characters)*">
            <label for="from">Enter log start date**</label>
            <input id="from" name="from" type="date" min="2018-01-01">
            <label for="to">Enter log end date**</label>
            <input id="to" name="to" type="date" min="2018-01-02" max="today">
            <label for="limit">Enter max. log size**</label>
            <input id="limit" name="limit" type="Number" min="1" max="50">
            <button id="submit-log" type="submit">Submit Log Request</button>
            <p><strong>* = required</strong></p>
            <p><strong>** = optional, shows earliest logs first. If blank returns entire log. </strong></p>
          </form>
        
          <!--
          <p><strong>GET users's exercise log: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
          <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
          <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>-->
      </div>
   </body>

</html>
