<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Exercise tracker</h1>
          <form action="/api/exercise/new-user" method="post">
            <h3>Create a New User</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="username">
            <button id="submit-user" type="submit">Submit User</button>
          </form>
          <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" minlength="4" maxlength="20" placeholder="user id*" required>
            <input id="desc" type="text" name="description" maxlength="50" placeholder="description*" required>
            <input id="dur" type="text" name="duration" maxlength="9" placeholder="duration* (minutes)" required>
            <input id="dat" type="date" name="date" value = "today" placeholder="add">
            <button id="submit-exercise" type="submit">Submit Exercise</button>
            <p><strong>* = required</strong></p>
          </form>
        
          <p class="bold">Check database</p>
      
          <form action="/api/exercise/log" method="get">   
            <p><code>GET /api/exercise/log</code></p>
            <input name="getuserid" type="text" maxlength="9" placeholder="user id*">
            <input name="datefrom" type="date" maxlength="100" placeholder="from (yyyy-mm-dd)">
            <input name="dateto" type="date" maxlength="8" placeholder="to (yyyy-mm-dd)">
            <input name="limit" type="Number" maxlength="2" placeholder="limit">
            <button id="submit-log" type="submit">Submit Request</button>
            <p><strong>* = required</strong></p>
          </form>
        
          <!--
          <p><strong>GET users's exercise log: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
          <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
          <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>-->
      </div>
   </body>

</html>
